# Ignore everything
*

# Except for these files...
!.gitignore
!all_packages.txt
!helpers.rc
!mimeapps.list
!/README.md
!rofimoji.rc
!taskrc

# ...and these directories...
!alacritty/
!atuin/
!bat/
!dunst/
!environment.d/
!espanso/
!fastfetch/
!fd/
!fish/
!flake/
!foot/
!fzf/
!fzf-tab/
!helix/
!hypr/
!ignore/
!kanata/
!kitty/
!lazydocker/
!lazygit/
!lf/
!mc/
!nano/
!ncdu/
!nvim/
!onagre/
!palettes/
!qalculate/
!qutebrowser/
!qutebrowser/userscripts/
!rofi/
!ruff/
!scripts/
!spotifyd/
!spotify-player/
!starship/
!swappy/
!swayidle/
!swaylock/
!task/
!tgt/
!theme_it/
!thefuck/
!vim/
!waybar/
!xfce4/
!yazi/
!zathura/
!zellij/
!zsh/

# ...as well as any subfolders in them and their contents...
!alacritty/**/*
!atuin/**/*
!bat/**/*
!dunst/**/*
!environment.d/**/*
!espanso/**/*
!fastfetch/**/*
!fd/**/*
!fish/**/*
!flake/**/*
!foot/**/*
!fzf/**/*
!fzf-tab/**/*
!helix/**/*
!ignore/**/*
!hypr/**/*
!kanata/**/*
!kitty/**/*
!lazydocker/
!lazygit/**/*
!lf/**/*
!mc/**/*
!nano/**/*
!ncdu/**/*
!nvim/**/*
!onagre/**/*
!palettes/**/*
!qalculate/**/*
!qutebrowser/userscripts/**/*
!rofi/**/*
!ruff/**/*
!scripts/**/*
!spotifyd/**/*
!spotify-player/**/*
!starship/**/*
!swappy/**/*
!swayidle/**/*
!swaylock/**/*
!tgt/**/*
!theme_it/**/*
!thefuck/**/*
!vim/**/*
!waybar/**/*
!yazi/**/*
!zathura/**/*
!zellij/**/*
!zsh/**/*

# Include the systemd subdirectories but exclude all files by default
!systemd/
!systemd/user/
!systemd/user/_mqtt/*
!systemd/user/_dunst/*
!systemd/user/_waybar/*

# Explicitly include
!qutebrowser/config.py
!systemd/user/deploy_flat_modules.sh
!systemd/user/espanso.service

# ... but not these.
.direnv/
.env
.envrc
.python-version
.zcompdump
.zsh_history
__pycache__
btop.log
espanso/match/secrets.yml
lazygit/state.yml
scripts/_logs/
scripts/_secrets/
venv/
waybar/configs/JakooLit_Hyprland_Dots
waybar/styles/JakooLit_Hyprland_Dots
zsh/.oda.zsh
zsh/.zsh_secrets
zsh/.zshrc.save
zsh/*.*tmp*
.secrets.conf
_cache/
theme_it/backups
btop/btop.conf
hypr/keybind_submaps/rofi_iptv.conf
zsh/sources/.zsh_secrets
hypr/keybind_submaps/message_submaps
scripts/hyprland/hypr_window_ops/hypr_window_ops.egg-info
qalculate/qalc.history
qalculate/qalculate-gtk.cfg
fish/conf.d/secrets/secrets.fish
fish/sources/secrets.fish
yazi/flavors/catppuccin-mocha.yazi
yazi/plugins
nvim/lazy-lock.json
