# Ignore everything
*

# Except for these files...
!.gitignore
!/README.md
!rofimoji.rc

# ...and these directories...
!alacritty/
!dunst/
!hypr/
!lf/
!mc/
!nano/
!ncdu/
!nvim/
!rofi/
!scripts/
!swappy/
!swayidle/
!swaylock/
!thefuck/
!vim/
!wallpaper/
!waybar/
!zsh/

# ...as well as anything in them...
!alacritty/**/*
!dunst/**/*
!hypr/**/*
!lf/**/*
!mc/**/*
!nano/**/*
!ncdu/**/*
!nvim/**/*
!rofi/**/*
!scripts/**/*
!swappy/**/*
!swayidle/**/*
!swaylock/**/*
!thefuck/**/*
!vim/**/*
!wallpaper/**/*
!waybar/**/*
!zsh/**/*

# ... but not these.
.zsh_history
__pycache__
.zcompdump
