# Ignore everything
*

# Except for these files...
!.gitignore
!all_packages.txt
!/README.md
!rofimoji.rc
!helpers.rc

# ...and these directories...
!alacritty/
!dunst/
!foot/
!hypr/
!lf/
!mc/
!nano/
!ncdu/
!nvim/
!rofi/
!scripts/
!swappy/
!swayidle/
!swaylock/
!thefuck/
!vim/
!waybar/
!xfce4/
!zellij/
!zsh/

# ...as well as any subfolders in them and their contents...
!alacritty/**/*
!dunst/**/*
!foot/**/*
!hypr/**/*
!lf/**/*
!mc/**/*
!nano/**/*
!ncdu/**/*
!nvim/**/*
!rofi/**/*
!scripts/**/*
!swappy/**/*
!swayidle/**/*
!swaylock/**/*
!thefuck/**/*
!vim/**/*
!waybar/**/*
!zellij/**/*
!zsh/**/*

# ... but not these.
.env
.python-version
.zsh_history
__pycache__
.zcompdump
scripts/backup/vault.py
waybar/configs/JakooLit_Hyprland_Dots
waybar/styles/JakooLit_Hyprland_Dots
venv/
zsh/.oda.zsh
zsh/.zshrc.save
