[submodule "waybar/config_alts/jakoolit"]
	path = waybar/config_alts/jakoolit
	url = https://github.com/JaKooLit/Hyprland-Dots.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "/home/rash/.config/xplr/plugins/icons"]
	path = /home/rash/.config/xplr/plugins/icons
	url = https://github.com/prncss-xyz/icons.xplr
[submodule "/home/rash/.config/xplr/plugins/fzf"]
	path = /home/rash/.config/xplr/plugins/fzf
	url = https://github.com/sayanarijit/fzf.xplr
[submodule "/home/rash/.config/xplr/plugins/zoxide"]
	path = /home/rash/.config/xplr/plugins/zoxide
	url = https://github.com/sayanarijit/zoxide.xplr

