layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="workmbp" focus=true split_direction="vertical" {
        pane size="65%" command="ssh" {
            args "workmbp" "-t" "cd ~/dev/rash/remuneration_migration && exec fish"
        }
        pane size="35%" command="ssh" {
            args "workmbp" "-t" "cd ~/dev/dbt/dbt_production && exec fish"
        }
    }
}