configuration {
    display-drun: "Applications:";
    display-window: "Windows:";
    drun-display-format: "{name}";
    modi: "run,drun";
    steal-focus: true;
    hide-scrollbar: true;
}

@theme "catppuccin_mocha"