[Unit]
Description=Monitor Kanata restarts and restart espanso
After=espanso.service
PartOf=espanso.service

[Service]
Type=simple
ExecStart=/home/rash/.config/scripts/espanso/monitor-input-devices.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target