[global]
monitor = 0
follow = keyboard
width = (450, 1200)
height = (200, 1200)
origin = top-right
offset = (40, 40)
scale = 0
notification_limit = 20
progress_bar = true
progress_bar_height = 12
progress_bar_frame_width = 1
progress_bar_min_width = 300
progress_bar_max_width = 500
progress_bar_corner_radius = 6
icon_corner_radius = 10
indicate_hidden = yes
transparency = 0
separator_height = 2
padding = 20
horizontal_padding = 30
text_icon_padding = 22
frame_width = 2
gap_size = 12
separator_color = frame
sort = yes
font = GeistMono NF 14
line_height = 0
markup = full
format = "<b>%s</b>\n%b"
alignment = left
vertical_alignment = center
show_age_threshold = 60
ellipsize = end
ignore_newline = no
stack_duplicates = true
hide_duplicate_count = false
show_indicators = yes
enable_recursive_icon_lookup = true
icon_theme = Adwaita
icon_position = left
min_icon_size = 48
max_icon_size = 128
icon_path = /usr/share/icons/Adwaita/32X32/
sticky_history = yes
history_length = 20
dmenu = /home/rash/.config/dunst/dunst_rofi_dmenu.sh
browser = /usr/bin/xdg-open
always_run_script = true
title = Dunst
class = Dunst
corner_radius = 8
ignore_dbusclose = false
force_xwayland = false
force_xinerama = false
mouse_left_click = do_action, close_current
mouse_middle_click = context, close_current
mouse_right_click = close_current

[experimental]
per_monitor_dpi = false

[global]
frame_color = "#7aa2f7"
separator_color = frame
highlight = "#7aa2f7"

[urgency_low]
background = "#1a1b26"
foreground = "#c0caf5"

[urgency_normal]
background = "#bb9af7"
foreground = "#1a1b26"

[urgency_critical]
background = "#f7768e"
foreground = "#101010"
frame_color = "#e6c100"
