# installed with sudo cp -f buku-encrypt.service /etc/systemd/system/

[Unit]
Description=Encrypt buku database on shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
User=rash
ExecStart=/usr/bin/python3 /home/rash/.config/scripts/shell/switch_buku.py rash
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
