[Unit]
Description=Clipse clipboard manager
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/clipse -listen
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
