[Unit]
Description=Hyprland Keybind Watcher for Layout Switching
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/rash/.config/scripts/hyprland/keybind-watcher.py start
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
