[Unit]
Description=Ultimate fallback lock service
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'pidof hyprlock || hyprlock'
