[Unit]
Description=MQTT Listener Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
RuntimeDirectory=mqtt
RuntimeDirectoryMode=755
Environment=PYTHONPATH=/home/rash/.config/scripts
ExecStartPre=/usr/bin/bash -c "source /home/rash/.config/scripts/mqtt/.env && echo 'Environment variables loaded'"
ExecStart=/home/rash/.config/scripts/mqtt/launch_mqtt_services.sh mqtt_listener
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=300
StartLimitBurst=10
WorkingDirectory=/home/rash/.config/scripts/mqtt
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
