[Unit]
Description=MQTT Listener Service
After=network.target

[Service]
ExecStart=/bin/bash -c '/home/rash/.config/scripts/mqtt/launch_mqtt_services.sh mqtt_listener'
Restart=always
RestartSec=5
WorkingDirectory=/home/rash/.config/scripts/mqtt

[Install]
WantedBy=default.target
