[Unit]
Description=Decrypt sops secrets
Documentation=https://github.com/getsops/sops
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/rash/.config/scripts/sops/decrypt-secrets.sh

[Install]
WantedBy=default.target
