[Unit]
Description=Spotify Player Daemon
Documentation=https://github.com/aome510/spotify-player
After=pipewire.service network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=%h/.cargo/bin/spotify_player --daemon
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
