[Unit]
Description=Spotifyd Spotify Daemon
Documentation=https://github.com/Spotifyd/spotifyd
After=pipewire.service network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/spotifyd --no-daemon --config-path %h/.config/spotifyd/spotifyd.conf
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
