[Desktop Entry]
Name=Brave
GenericName=Web Browser
Icon=brave
Exec=/home/rash/.config/scripts/rofi/rofi_profile_selector.py brave
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;image/webp;application/pdf;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=Brave-browser
Keywords=Browser;Web;Internet;
Type=Application
