[Desktop Entry]
Name=LibreWolf
GenericName=Web Browser
Icon=librewolf
Exec=librewolf %u
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;application/pdf;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Type=Application
