[Unit]
Description=espanso text expander
Documentation=https://espanso.org/

[Service]
Type=simple
ExecStart=/usr/bin/espanso daemon
Restart=on-failure
RestartSec=3
Environment="USE_EVDEV=true"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="XDG_SESSION_TYPE=wayland"
Environment="XDG_CURRENT_DESKTOP=niri"

[Install]
WantedBy=default.target
