[Unit]
Description=Spotify Player Daemon
Documentation=https://github.com/aome510/spotify-player
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/home/rash/.cargo/bin/spotify_player --daemon
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
TimeoutStartSec=10

[Install]
WantedBy=default.target
