/* theme_it: tokyonight_deep */

* {
    font-family: "GeistMono NF";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    /*font-size: 100%;*/
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    margin-top: 1px;
    padding: 0px;
}

@import "/home/rash/.config/waybar/config_alts/tokyonight_deep/tokyonight_deep_palette.css";

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: transparent;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background: none;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @background;
    border: 0.5px solid @color8;
    padding: 3px 6px;
    border-radius: 10px;
}

.modules-left {
    border: 1px solid @accent;
    padding-right: 8px;
}

.modules-right {
    border: 1px solid @accent;
    padding-left: 8px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-in_office_idle,
#custom-speedtest,
#custom-vpn,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    padding: 3px 6px;
}

#idle_inhibitor,
#bluetooth,
#backlight,
#cpu,
#custom-keyboard,
#memory,
#pulseaudio,
#pulseaudio.bluetooth,
#custom-vpn.vpn-connected {
    color: @accent;
}

#battery {
    color: @color10;
}

#battery.critical:not(.charging) {
    background-color: @color9;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -3px transparent;
}

@keyframes blink {
    to {
        color: @color8;
    }
}

#clock {
    color: @color11;
}

#disk {
    color: @color12;
}

#temperature {
    color: @color10;
}

#temperature.critical {
    background-color: @color9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#keyboard-state {
    color: @color13;
}

#workspaces button {
    color: @color8;
    box-shadow: none;
    text-shadow: none;
    padding: 0 4px;
    border-radius: 9px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    border-radius: 10px;
    color: @color8;
    background-color: @color16;
    padding: 0 2px;
}

#workspaces button.persistent {
    color: @color17;
    border-radius: 10px;
}

#workspaces button.active {
    color: @accent;
    border-radius: 10px;
    padding: 0 8px;
}

#workspaces button.urgent {
    color: @color9;
    border-radius: 0;
}

#taskbar button.active {
    padding: 0 8px;
}

#taskbar button:hover {
    padding: 0 2px;
}

#custom-cava_mviz {
    color: @color13;
}

#custom-menu {
    color: @color9;
}

#custom-power,
#custom-updater,
#pulseaudio.muted,
#custom-vpn.vpn-disconnected {
    color: @color9;
}

#custom-light_dark,
#network,
#custom-speedtest,
#custom-separator,
#window {
    color: @color12;
}

#custom-weather,
#custom-waybar-mpris {
    color: @color13;
}

#custom-lock {
    color: @color1;
}

#custom-tibber_text,
#custom-tibber_icon {
    padding: 3px 6px;
}

#custom-tibber_text.price-good,
#custom-tibber_icon.icon-good {
    color: @color10;
}

#custom-tibber_text.price-bad,
#custom-tibber_icon.icon-bad {
    color: @color9;
}

#custom-tibber_text.price-mid {
    color: @color11;
}

#custom-in_office_idle.icon-blue {
    color: @color12;
}
#custom-in_office_idle.icon-red {
    color: @color9;
}

#network.disconnected,
#network.disabled {
    background-color: @color16;
    color: @foreground;
}

#pulseaudio-slider slider,
#backlight-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
    min-width: 80px;
    min-height: 10px;
    border-radius: 5px;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
    min-height: 10px;
    border-radius: 5px;
}
