layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="config" focus=true split_direction="vertical" {
        pane size="65%" command="fish" {
            args "-c" "nvim; exec fish"
            cwd "/home/rash/.dotfiles"
        }
        pane size="35%" {
            cwd "/home/rash/.dotfiles"
        }
    }
//     tab name="surgefactor" split_direction="vertical" {
//         pane size="65%" command="fish" {
//             args "-c" "nvim; exec fish"
//             cwd "/home/rash/dev/apps/surgefactor"
//         }
//         pane size="35%" {
//             cwd "/home/rash/dev/apps/surgefactor"
//         }
//     }
}
