layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="account_daily" focus=true {
        pane split_direction="horizontal" {
            pane size="65%" command="fish" {
                args "-c" "ssh -t workmbp 'cd ~/dev/rash/projects/account_daily && nvim; exec fish'"
                name "editor"
            }
            pane size="35%" split_direction="vertical" {
                pane command="fish" {
                    args "-c" "ssh -t workmbp 'cd ~/dev/rash/projects/account_daily && exec fish'"
                }
                pane command="fish" {
                    args "-c" "ssh -t workmbp 'cd ~/dev/rash/projects/account_daily && exec fish'"
                }
            }
        }
    }
}
